<div class="formSup">
    <form action="/updatesup/edit" method="POST">
    <h1>{{dataValues.supplier_id}}</h1>

        <div class="inputGroup">
            <label for="supName">Name</label>
             <input type="text" name="supName" id="supName" maxlength="20">
        </div>
        <div class="inputGroup">            
            <label for="supCnpj">CNPJ</label>
            
            <input type="text" name="supCnpj" id="supCnpj" maxlength="14" placeholder="new values">
        </div>
        
        <div class="inputGroup">            
            <label for="supCep">CEP</label>            

            <input type="text" name="supCep" id="supCep" maxlength="8"  placeholder="new values">
        </div>

        <input type="hidden" name="upSupplierId" value="{{obj}}">
        <button type="submit">Update</button> 

    </form>
</div>
